In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('loan-data.xlsx')

In [3]:
df

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,other,3075.291779,2500.00,575.29,90.85,0
2,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [4]:
df.isna().sum()

funded_amnt_inv          1
term                     0
int_rate                 0
installment              1
emp_length             993
home_ownership           0
annual_inc               2
verification_status      0
purpose                  0
total_pymnt              1
total_rec_prncp          1
total_rec_int            1
last_pymnt_amnt          1
repay_fail               0
dtype: int64

In [5]:
df.dropna( axis=0, how="any", subset=None, inplace=True)

In [6]:
df.isna().sum()

funded_amnt_inv        0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
purpose                0
total_pymnt            0
total_rec_prncp        0
total_rec_int          0
last_pymnt_amnt        0
repay_fail             0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt_inv      37485 non-null  float64
 1   term                 37485 non-null  object
 2   int_rate             37485 non-null  float64
 3   installment          37485 non-null  float64
 4   emp_length           37485 non-null  object
 5   home_ownership       37485 non-null  object
 6   annual_inc           37485 non-null  float64
 7   verification_status  37485 non-null  object
 8   purpose              37485 non-null  object
 9   total_pymnt          37485 non-null  float64
 10  total_rec_prncp      37485 non-null  float64
 11  total_rec_int        37485 non-null  float64
 12  last_pymnt_amnt      37485 non-null  float64
 13  repay_fail           37485 non-null  int64
dtypes: float64(8), int64(1), object(5)
memory usage: 4.3+ MB

In [8]:
df.term=df.term.str.replace(' months','').astype('int32')

In [9]:
df

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0.00000,36,0.00,0.00,< 1 year,RENT,0.0,Not Verified,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500.00000,36,13.98,85.42,4 years,RENT,20004.0,Not Verified,other,3075.291779,2500.00,575.29,90.85,0
2,5000.00000,36,15.95,175.67,4 years,RENT,59000.0,Not Verified,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000.00000,36,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000.00000,36,5.42,60.32,10+ years,RENT,30000.0,Not Verified,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.00000,36,11.99,99.63,3 years,RENT,74250.0,Verified,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400.00000,36,13.49,352.88,9 years,RENT,62000.0,Source Verified,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10531.35818,60,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000.00000,36,16.89,355.99,1 year,RENT,48720.0,Not Verified,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200.00000,36,13.49,108.58,7 years,RENT,38400.0,Source Verified,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [10]:
df.funded_amnt_inv=df.funded_amnt_inv.astype('int32')

In [11]:
df

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0,36,0.00,0.00,< 1 year,RENT,0.0,Not Verified,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500,36,13.98,85.42,4 years,RENT,20004.0,Not Verified,other,3075.291779,2500.00,575.29,90.85,0
2,5000,36,15.95,175.67,4 years,RENT,59000.0,Not Verified,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000,36,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000,36,5.42,60.32,10+ years,RENT,30000.0,Not Verified,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000,36,11.99,99.63,3 years,RENT,74250.0,Verified,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400,36,13.49,352.88,9 years,RENT,62000.0,Source Verified,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10531,60,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000,36,16.89,355.99,1 year,RENT,48720.0,Not Verified,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200,36,13.49,108.58,7 years,RENT,38400.0,Source Verified,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [12]:
emp_length_mapping = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
}

# Use the mapping to replace the strings with integers
df['emp_length'] = df['emp_length'].replace(emp_length_mapping)

In [13]:
df

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0,36,0.00,0.00,0,RENT,0.0,Not Verified,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500,36,13.98,85.42,4,RENT,20004.0,Not Verified,other,3075.291779,2500.00,575.29,90.85,0
2,5000,36,15.95,175.67,4,RENT,59000.0,Not Verified,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000,36,9.91,225.58,10,MORTGAGE,53796.0,Not Verified,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000,36,5.42,60.32,10,RENT,30000.0,Not Verified,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000,36,11.99,99.63,3,RENT,74250.0,Verified,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400,36,13.49,352.88,9,RENT,62000.0,Source Verified,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10531,60,14.96,250.77,10,MORTGAGE,95088.0,Source Verified,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000,36,16.89,355.99,1,RENT,48720.0,Not Verified,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200,36,13.49,108.58,7,RENT,38400.0,Source Verified,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [14]:
df.annual_inc=df.annual_inc.astype('int32')

In [15]:
df

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0,36,0.00,0.00,0,RENT,0,Not Verified,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500,36,13.98,85.42,4,RENT,20004,Not Verified,other,3075.291779,2500.00,575.29,90.85,0
2,5000,36,15.95,175.67,4,RENT,59000,Not Verified,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000,36,9.91,225.58,10,MORTGAGE,53796,Not Verified,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000,36,5.42,60.32,10,RENT,30000,Not Verified,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000,36,11.99,99.63,3,RENT,74250,Verified,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400,36,13.49,352.88,9,RENT,62000,Source Verified,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10531,60,14.96,250.77,10,MORTGAGE,95088,Source Verified,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000,36,16.89,355.99,1,RENT,48720,Not Verified,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200,36,13.49,108.58,7,RENT,38400,Source Verified,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [16]:
df.verification_status.unique()

array(['Not Verified', 'Verified', 'Source Verified'], dtype=object)

In [17]:
verification_status_mapping = {
    'Not Verified': 0,
    'Verified': 1,
    'Source Verified': 1
}

df['verification_status'] = df['verification_status'].replace(verification_status_mapping)

In [18]:
df

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0,36,0.00,0.00,0,RENT,0,0,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500,36,13.98,85.42,4,RENT,20004,0,other,3075.291779,2500.00,575.29,90.85,0
2,5000,36,15.95,175.67,4,RENT,59000,0,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000,36,9.91,225.58,10,MORTGAGE,53796,0,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000,36,5.42,60.32,10,RENT,30000,0,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000,36,11.99,99.63,3,RENT,74250,1,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400,36,13.49,352.88,9,RENT,62000,1,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10531,60,14.96,250.77,10,MORTGAGE,95088,1,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000,36,16.89,355.99,1,RENT,48720,0,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200,36,13.49,108.58,7,RENT,38400,1,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [19]:
df.purpose.unique()

array(['major_purchase', 'other', 'debt_consolidation', 'credit_card',
       'small_business', 'wedding', 'medical', 'car', 'home_improvement',
       'vacation', 'educational', 'house', 'moving', 'renewable_energy'],
      dtype=object)

In [21]:

# saving the dataframe
df.to_csv('load.csv')

In [ ]:
from sklearn.model_selection import train_test_split

# Step 1 -> train/test/split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['repay_fail']),
                                                 df['repay_fail'],
                                                 test_size=0.2,
                                                random_state=42)

In [ ]:
X_train.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder()
ohe.fit(df.drop(columns=['repay_fail'])[['home_ownership','purpose']])

In [ ]:
from sklearn.compose import ColumnTransformer

# one hot encoding
trf2 = ColumnTransformer([(OneHotEncoder(sparse=False,handle_unknown='ignore'),[5,8])
],remainder='passthrough')

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# Scaling
trf3 = ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,10))
])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# train the model
trf5 = DecisionTreeClassifier()

In [ ]:
from sklearn.pipeline import Pipeline,make_pipeline

In [ ]:
pipe= Pipeline([('trf2',trf2),
                ('trf3',trf3),
                ('trf5',trf5)
            ])

In [ ]:
# train
pipe = make_pipeline(trf2,trf3,trf5)

In [ ]:
# Code here
pipe.named_steps

In [ ]:
# Display Pipeline

from sklearn import set_config
set_config()

In [ ]:
# Predict
y_pred = pipe.predict(X_test)